<div class="columns">
  <div class="column is-half">
    <h2 class="title">Change your password</h2>   
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <%= f.input :reset_password_token, as: :hidden %>
      <%= f.full_error :reset_password_token %>

      <div class="control">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "input", autocomplete: "new-password" %>
      </div>

      <div class="control">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input", autocomplete: "new-password"  %>
      </div>
      <div class="control">
        <%= f.submit "Submit", class: "button is-info" %>
      </div>

    <% end %>
  </div>
</div>
