<div class="columns">
  <div class="column is-half">
    <h2 class="title">Log in</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field">
        <label class="label">
          <%= f.label :email %>
        </label>
        <div class="control">
          <%= f.email_field :email, class: "input", placeholder: "email" %>
        </div>
      </div>

      <div class="control">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "input", placeholder: "Password" %>
      </div><br />
      
      <div class="control">
        <%= f.submit "Log in", class: "button is-info" %>
      </div>

    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
